.main {
  height: calc(100vh - 40px);
  display: flex;
  padding: 20px;
}
textarea {
  padding-top: 10px;
  width: 500px;
  height: calc(100vh - 80px) !important;
}

mat-form-field {
  width: 500px;
}